@import './base.css';

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400&family=Roboto:wght@300;400;500&family=Sora:wght@300;700&display=swap');

/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Sora', sans-serif; */

.app--title {
    font-family: 'Sora', sans-serif;
    /* font-size: 1.5rem !important;
    font-weight: 700 !important; */
}